@using Scratch
@using Scratch.Web.Models

@model ViewModelBase

@{
    Layout = null;
}

@helper MenuItem(PageViewModel.MenuItems menuItem, string icon, string url, bool isLink = true)
{
    var text = Enums.GetDescription(menuItem);

    var attributes = new Dictionary<string, string>();

    if (Model.IsActive(menuItem))
    {
        attributes.Add("class", "active");
    }

    attributes.Add((isLink ? "href" : "data-action"), url);
    
    <li>
        <a @(String.Join(" ", attributes.Select(a => a.Key + "=" + a.Value)))>
            <img alt="@text" title="@text" src="~/Content/fugue/@icon"/>
            <span>@text</span>
        </a>
    </li>
}

<div id="toolbar">
    <ul class="menu">
        @MenuItem(PageViewModel.MenuItems.PageEditing, "document.png", "/")
        @MenuItem(PageViewModel.MenuItems.WebsiteAdmin, "gear.png", "/Admin")
        @MenuItem(PageViewModel.MenuItems.IdeaCollector, "light-bulb-off.png", "/Idea/Collect", false)
        @MenuItem(PageViewModel.MenuItems.Treeview, "lightning.png", "/Treeview")
        @MenuItem(PageViewModel.MenuItems.LogOut, "lock.png", "/Logout")
        @MenuItem(PageViewModel.MenuItems.About, "information-white.png", "/Admin/About")
    </ul>
    @if (Model.IsActive(PageViewModel.MenuItems.PageEditing))
    {
        <ul class="menu">
            @MenuItem(PageViewModel.MenuItems.PageEditing_SaveChanges, "disk-black.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_ContentPalette, "palette.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_EditPage, "document--pencil.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_AddPage, "document--plus.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_DeletePage, "document--minus.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_WebsiteNavigation, "compass.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_FileManager, "folder-open-image.png", "#", false)
            @MenuItem(PageViewModel.MenuItems.PageEditing_WebpageAnalytics, "system-monitor.png", "#", false)
        </ul>
    }
    @if (Model.IsActive(PageViewModel.MenuItems.WebsiteAdmin))
    {
        <ul class="menu">
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_EditContentPalette, "palette.png", "/Admin/ContentPalette")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_AddPage, "document--plus.png", "#")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_DeletePage, "document--minus.png", "#")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_WebsiteNavigation, "compass.png", "/Admin/Navigation")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_WebsiteSearch, "magnifier-left.png", "/Admin/Search")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_WebForms, "application-form.png", "/Admin/WebForms")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_Store, "barcode.png", "/Admin/Store")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_SyndicatedContent, "feed.png", "/Admin/SyndicatedContent")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_FileManager, "folder-open-image.png", "/Admin/FileManager")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_WebsiteAnalytics, "system-monitor.png", "/Admin/Analytics")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_WebsiteSettings, "equalizer.png", "/Admin/Settings")
            @MenuItem(PageViewModel.MenuItems.WebsiteAdmin_Users, "user-silhouette.png", "/Admin/Users")
        </ul>
    }
    <div id="toolbar-pane"></div>
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

@*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

<script type="text/javascript">
    $(function() {

        var toolbar = $("#toolbar"),
            spans = toolbar.find("span"),
            toolbarPane = $("#toolbar-pane");

        toolbar
            .mouseover(function() {
                spans.show();
                toolbarPane.show();
            })
            .mouseout(function() {
                spans.hide();
                toolbarPane.hide();
            });

        toolbar.find("a").each(function() {

            var a = $(this),
                action = a.attr("data-action");

            a.click(function() {
                a.addClass("active");
                toolbarPane.load(action, function() {
                    toolbarPane.find("a.cancel").click(function() {
                        toolbarPane.empty();
                        return false;
                    });
                });
            });
        });

        //$("html").click(function () {
        //    //Hide the menus if visible
        //});
        //toolbar.click(function (event) {
        //    event.stopPropagation();
        //});
    });
</script>