@model Scratch.Web.Models.Authentication.LoginViewModel

@{
    ViewBag.Title = "Login";

    Layout = "_AuthenticationLayout.cshtml";
}

@if (Model.IsAuthenticated)
{
    var location = String.IsNullOrWhiteSpace(Model.ReturnUrl) ? "/" : Model.ReturnUrl;
    <p>You're logged in now.</p>
    <p>
        <a href="@location"><img src="~/Content/i_loading.gif" alt="Click here if you're not redirected." title="Click here if you're not redirected."/></a>
    </p>
    <script type="text/javascript">setTimeout(function () { location = "@location"; }, 3000);</script>
}
else
{
    using (Html.BeginForm())
    {
        @Html.HiddenFor(a => a.ReturnUrl)
        <div>
            @Html.LabelFor(a => a.Username)
            @Html.TextBoxFor(a => a.Username)
        </div>
        <div>
            @Html.LabelFor(a => a.Password)
            @Html.PasswordFor(a => a.Password)
        </div>
        <div>
            <input type="submit" value="Go"/>
        </div>
    }
}