@using Scratch.Data.Core.DataModel
@using Scratch.Web.Models.ContentPalette

@model IndexViewModel

@{
    ViewBag.Title = "Edit Content Palette";
    
    Layout = "~/Views/Shared/_WebsiteAdminLayout.cshtml";
}

@section Head
{
    <link href="/Content/treeview.css" rel="stylesheet" type="text/css" />
}

@helper RenderList(List<ContentsTypeHierarchyListItem> contentTypes)
{
    foreach (var contentType in contentTypes)
    {
        <li class="tree" data-id="@contentType.Id" data-name="@contentType.Name">
            <section class="tree-lines">
                <span class="toggle"></span>
            </section>
            <section class="tree-item">
                <header class="actionable-item">
                    <span>@contentType.Name</span><span class="actions">
                        <a class="empty icon pencil" title="Edit @contentType.Name" href="@Url.Action("EditContentType", "ContentPalette", new { id = contentType.Id })"></a>
                        <a class="empty icon minus confirm-delete" title="Delete @contentType.Name" href="@Url.Action("DeleteContentType", "ContentPalette", new { id = contentType.Id })"></a>
                    </span>
                </header>
                <ul class="tree">
                    @RenderList(contentType.Children)
                </ul>
            </section>
        </li>
    }
}

@if (Model.ContentTypes.Any())
{
    <div id="tree">
        <ul class="tree">
            @RenderList(Model.ContentTypes)
        </ul>
    </div>
}
else
{
    <p>No content types exist.</p>
}
<br />
<a href="@Url.Action("AddContentType", "ContentPalette")" class="icon plus">Add Content Type</a>
