@using Scratch.Data.Core.DataModel
@using Scratch.Web.Models.ContentPalette

@model IndexViewModel

@{
    ViewBag.Title = "Edit Content Palette";
    
    Layout = "~/Views/Shared/_WebsiteAdminLayout.cshtml";
}

@section Head
{
    <link href="/Content/treeview.css" rel="stylesheet" type="text/css" />
}

@helper RenderList(List<ContentsTypeHierarchyListItem> contentTypes)
{
    foreach (var contentType in contentTypes)
    {
        <li class="tree" data-id="@contentType.Id" data-name="@contentType.Name">
            <section class="tree-lines">
                <span class="toggle"></span>
            </section>
            <section class="tree-item">
                <header>
                    <span>@contentType.Name</span><span class="actions">
                        <a class="empty icon pencil" title="Edit @contentType.Name" href="@Url.Action("Edit", "ContentPalette", new {id = contentType.Id})"></a>
                        <a class="empty icon minus" title="Delete @contentType.Name" href="@Url.Action("Delete", "ContentPalette", new {id = contentType.Id})"></a>
                    </span>
                </header>
                <ul class="tree">
                    @RenderList(contentType.Children)
                </ul>
            </section>
        </li>
    }
}

@if (Model.ContentTypes.Any())
{
    <div id="tree">
        <ul class="tree">
            @RenderList(Model.ContentTypes)
        </ul>
    </div>
}
else
{
    <p>No content types exist.</p>
}
<br />
<a href="@Url.Action("Add", "ContentPalette")" class="icon plus">Add Content Type</a>

@section Scripts
{
    <style>
        #tree li.tree section.tree-item header span.actions {
            visibility: hidden;
        }

        #tree li.tree section.tree-item header.hover span.actions {
            padding: 7px 0;
            background-color: #f8f8f8;
            border: 1px #e8e8e8 solid;
            border-radius: 7px;
            visibility: visible;
            margin-left: 4px;
        }

        #tree li.tree section.tree-item header span.actions a {
            padding-right: 7px;
            margin-left: 7px;
            border-right: 1px #e8e8e8 solid;
        }
        
        #tree li.tree section.tree-item header span.actions a:last-child {
            padding-right: 7px;
            border-right: none;
        }
        
    </style>
    <script type="text/javascript">
        $(function() {

            $("#tree li.tree section.tree-item header").each(function() {

                var header = $(this);

                header.mouseover(function() {
                    header.addClass("hover");
                }).mouseout(function() {
                    header.removeClass("hover");
                });

            });

        });
    </script>
}
